{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "tmpDir": "report/",
    "logs": {
        "text": "report/logs/infection-text.log",
        "summary": "report/logs/infection-summary.log"
    },
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "mutators": {
        "@default": true,
        "LogicalOr": false,
        "InstanceOf_": false,
        "UnwrapArrayMap": false,
        "MethodCallRemoval": false
    },
    "testFramework": "phpunit"
}
