parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#function fread expects#'
    - '#expects object, mixed given#'
    - '#expects resource, resource#'
    - '#value type specified in iterable#'
  reportUnmatchedIgnoredErrors: false
